.footer {
  background-color: #CCC; }

.links a.active {
  background-color: #CCC; }

table.upload .agree-error {
  margin: 1em 2em 1em 4em;
  padding: 1em 1em 1em 0.5em; }

div.progress {
  margin-bottom: 0px; }
