.footer {
  background-color: #CCC; }

table.upload .agree-error {
  margin: 1em 2em 1em 4em;
  padding: 1em 1em 1em 0.5em; }

.links {
  background-color: #FFF; }
  .links a.active {
    background-color: #CCC; }

div.progress {
  margin-bottom: 0px;
  border-bottom: none;
  background: #CCC; }

div.progress-bar {
  margin-bottom: -4px; }
