%p
  %strong Item:
  =h @flag.item_id
%p
  %strong Visit:
  =h @flag.visit_id
%p
  %strong Flag type:
  =h @flag.flag_type_id
%p
  %strong Comment:
  =h @flag.comment
= link_to 'Back', admin_flags_path
